<h3>Add a contact here:</h3>

<form action="/contacts" method="post">
  <label for="firstName">First Name: </label>
  <input type="text" id="firstName" name="firstName">
  <label for="lastName">Last Name: </label>
  <input type="text" id="lastName" name="lastName">
  <button type="submit">Add</button>
</form>